@font-face {
    font-family: 'myFont';
    src: url("../resources/fonts/MPLUS1p-Regular.ttf");
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

body {
    font-family: myFont;
    margin: 0;
    direction: rtl;
    color: #948e8b;
}

.question-card {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    box-shadow: #f5ce4f 0px 0px 12.7px 4px;
}

textarea {
    width: 100%;
    height: 150px;
}

ul {
    background-color: #948e8b;
    color: white;
}

.primary-button {
    color: #948e8b;
    background-color: #f5ce4f;
}

h4 {
    text-align: center;
}

.header h1 {
    font-family: myFont;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
}

.navbar {
    overflow: hidden;
    background-color: rgb(87, 84, 84);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar #home:hover {
    background: url(../resources/images/תמונות\ לפרויקט/homeicon.png);
    color: rgba(87, 84, 84, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    background-color: #666;
}

.navbar #about:hover {
    background: url(../resources/images/תמונות\ לפרויקט/abouticon.png);
    color: rgba(87, 84, 84, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    background-color: #666;
}

.navbar #instructions:hover {
    background: url(../resources/images/תמונות\ לפרויקט/instructions.png);
    color: rgba(87, 84, 84, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    background-color: #666;
}

.navbar #play:hover {
    background: url(../resources/images/תמונות\ לפרויקט/playicon.png);
    color: rgba(87, 84, 84, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    background-color: #666;
}

/* .navbar a.active {
    background-color: #666;
    color: white;
} */

.header {
    padding: 10px;
    text-align: left;
    background: #ffd801;
    color: rgb(139, 136, 136);
    font-size: 30px;
    width: 100%;
    font-family: cursive;
}

/* #logo:hover {
    width: 5%;
    opacity: 0.3;
} */

#logo {
    width: 10%;
    /* margin-left: 20px;
    margin-top: 20px;
    background-repeat: repeat-x; */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(238, 180, 46);
    color: rgb(139, 136, 136);
    text-align: center;
}

#questionnaireDetails {
    /*margin-right: 40%; */
    /* margin-bottom: 50px; */
    display: inline-grid;
    /* margin: auto; */
    position: absolute;
    left: 40%;
    top: 30%;
}

.questionnaireDetailsInput {
    margin: 5px;
}

.dropbtn {
    background-color: rgb(228, 174, 26);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #f1b229;
}

#myInput {
    box-sizing: border-box;
    background-image: url('../resources/images/תמונות\ לפרויקט/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
#searchResultTable{
    margin-top: 90px;
    width: fit-content;
    font-size: 25px;
    color: black;
}
#searchResultTable tr{
    border: 1px solid #eeb42e;
    cursor: pointer;
    margin-bottom: 5px;
}
#searchResultTable td{
    padding-right: 20px;
    padding-left: 20px;

}
#searchResultTable .bold{
    font-weight: bold;
}

#searchResultTable .no-border{
   cursor: default;
   border: none;
}
.selectedTab{
    background-color: #cccccc;
}
